<fieldset class="fieldset">
  <legend><%= t('projects.dashboard.introduction_legend') %></legend>
  <div style="float: right; padding: 10px 5px 5px 5px;">
    <a href="http://labs.peritor.com/webistrano" target="_blank"><%= image_tag('peritor_theme/webistrano_screenshot.png', :border => '0', :width => '200', :height => '151')%></a>
  </div>
  <div style="padding-top: 5px;">
   <%= t('projects.dashboard.introduction_text') %>
   <br /><br />
   <%= t('projects.dashboard.help_text') %>
   <br />
   <ul>
     <li><a href="http://labs.peritor.com/webistrano/"><%= t('projects.dashboard.wiki') %></a></li>
     <li><a href="http://labs.peritor.com/webistrano/wiki/ConfigurationParameter"><%= t('projects.dashboard.configuration_parameter') %></a></li>
     <li><a href="http://labs.peritor.com/webistrano/wiki/FAQ"><%= t('projects.dashboard.faq') %></a></li>
   </ul>
   <br />
   <%= raw t('projects.dashboard.support_text', :peritor_consulting_link => link_to('Peritor Consulting', 'http://www.peritor.com')) %>
  </div>
</fieldset>

<br />

<fieldset class="fieldset">
  <legend><%= t('projects.dashboard.recent_deployments_legend') %></legend>
  <% if @deployments.empty? %>
    <br/>
      <%= t('projects.dashboard.no_recent_deployments') %>
    <br/>
  <% else %>
    <% @deployments.each do |deployment| %>
      <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
    <% end %>
  <% end %>
</fieldset>

<br />

<% content_for(:page_title) do %>
  <% @page_title = t('projects.dashboard.title') %>
  <h2><%= t('projects.dashboard.title') %></h2>
<% end %>
